@import "./../../global/variables.scss";

// :root {
//   --primary: $GrayDark;
// }

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--outline {
  background-color: transparent;
  // color: #fff;
  padding: 8px 20px;
  transition: all 0.5s ease-in-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 25px 50px;
  font-size: 22px;
  font-family: $JetBrains;
}

.btn--large:hover,
.btn--medium:hover {
  // transition: all 0.3s ease-out;
  // background: white;
  border: 2px solid black;

  color: #242424;
  /* color: white; */
}

@media screen and (max-width: 768px) {
  .btn--large {
    padding: 25px 3px;
    font-size: 17px;
  }
}
