@import "./src/global/variables.scss";

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(1, 1, 0, 0.055);
  text-align: center;

  > .headerTitle {
    font-family: $JuliusSansOne;
    font-size: 4rem;
    // TODO: fix font size on different screens
    margin-bottom: 3rem;
  }

  > .headerDescription {
    font-family: $JuliusSansOne;
    font-size: 2rem;
    // TODO: fix font size on different screens
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
    padding-bottom: 2rem;
  }
}
