@import "./global/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: $Cream;
  height: 100vh;
}

::-webkit-scrollbar-thumb {
  background: #b9b5b5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px; //30
  height: 15px; //30
  border-radius: 50%;
  // border: 2px solid red;
  background-color: black;
  // mix-blend-mode: difference;
  pointer-events: none;
}
