.formContainer {
  display: flex;
  flex-direction: column;
  max-height: 90vh;

  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  height: 60vh;
  max-width: 400px;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

  > label {
    // background-color: red;
  }

  > input {
  }
}
