.formContainer {
  max-height: 90vh;
  display: flex;

  justify-content: center;
}

.formBox {
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  height: 60vh;
  width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  // margin: 30px;
}
